[[source]]
name = "tuna-pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
gunicorn = "*"
coverage = "*"

[requires]
python_version = "3.8"
